
.project-img{
    width: 100%;
  height: auto;
}
.project-title{
  text-align: center;
}
.project-container2{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}
.project-item{
    border: 1px solid #ccc;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   transition: all 0.5s ease-in-out;
    
    
    
}
.project-item:hover{
    transform: scale(1.1);
    
}
.pro-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.btn{
    height: 50px;
    font-size: 16px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;

}
.icon{
    margin-bottom: 10px;
    cursor: pointer;
}
