.header-container{
    display: flex;
    justify-content: space-between;
    background-color:teal;
}
.header1{
    flex: 1;
color:white;
margin-left: 10px;
}
.header3{
    flex: 1;
    
    
}
.header2{
    color: white;
}
.sidebar-menu{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    

   
}
.sidebar-menu li a {
    text-decoration: none;
    margin: 10px;
    color: white;
}
